.day {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  cursor: pointer;
  font-family: var(--font-cursive);
}

/* .day.flipped {
  animation: flipAndReveal 2s linear;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes flipAndReveal {
  0% {
    opacity: 1;
    position: relative;
  }
  25% {
    opacity: 0;
  }
  30% {
    position: fixed;
    top: 0;
    left: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.ghost {
  display: block;
  animation: witForDisplay 2s linear;
}
@keyframes witForDisplay {
  0% {
    display: none;
  }
  29% {
    display: none;
  }
  30% {
    display: block;
  }
  100% {
    display: block;
  }
} */

.day.flipped .inner,
.day:hover.flipped .inner {
  transform: rotateY(180deg);
  box-shadow: none;
}

.day:hover {
  z-index: 1;
}
.day:hover .inner {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s, box-shadow 0.5s ease;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  color: var(--color-white);
  border-radius: 5px;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.front.variant0 {
  background-color: var(--color-pineGreen);
}
.front.variant1 {
  background-color: var(--color-carmine);
}
.front.variant2 {
  background-color: var(--color-iceBlue);
}
.front.variant3 {
  background-color: var(--color-gold);
}

.back {
  background-color: var(--color-darkBlue);
  color: white;
  transform: rotateY(180deg);
}
.flipped .back > * {
  animation: revealContent 1s linear;
}

@keyframes revealContent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
