.calendar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.calendar > * {
  justify-self: center;
}

@media (min-width: 576px) {
  .calendar {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .calendar {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .calendar {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* .calendar::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  } */

.calendar > *::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: 100%;
}
