.container {
  width: 100%;
  background: white;
  padding: 2rem;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-top: -100px;
  }
}

.coverImage {
  object-fit: cover;
  object-position: 50% 0%;
  height: 100%;
  width: 100%;
}

.coverWrapper {
  max-height: 500px;
  width: 100%;
  overflow: hidden;
}

.title {
  font-family: var(--font-narrow);
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  color: var(--color-pineGreen);
  line-height: 1.1;
}

.category {
  color: var(--color-carmine);
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  opacity: 0.6;
}
